@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.performance{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
.all-clr{color: rgb(255, 202, 58);}
.car{
    width: 100%;
}

/* .p-text h2, h4, p{
    margin-top: 80px;
} */


@media only screen and (max-width: 768px) {
    .p-text h2, h4, p{
        margin-top: 10px;
    }
    .car{
        width: 100%;
    }
}
    
